@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
/* @import '@skeletonlabs/skeleton/themes/terminus'; */
@import '../leverage.css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Falcon-Poster-Bold';
    src: url('/Falcon-Poster-Bold.ttf') format('truetype');
}

.falcon-poster-bold {
    font-family: 'Falcon-Poster-Bold', sans-serif;
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

input:focus-visible, textarea:focus-visible, select:focus-visible, button:focus-visible {
    outline: none !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
}

footer {
    margin-top: 1rem;
}

.faboulus {
background: #2A5E3C;
background: linear-gradient(52deg, rgba(42, 94, 60, 0.25) 4%, rgba(255, 255, 255, 1) 18%);
}